<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property resource="logback.properties" />
    <!--<include resource="org/springframework/boot/logging/logback/base.xml"/>-->
    <jmxConfigurator/>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>%d [%t] %p %logger - %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>
    <appender name="LogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">   
	   	<File>${log.path}/${log.name}.log</File>
	    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">   
			<fileNamePattern>${log.path}/${log.name}.%i.log</fileNamePattern>   
	      	<minIndex>1</minIndex>   
	      	<maxIndex>100</maxIndex>   
	    </rollingPolicy>   
	   	<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
	    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">   
	    	<maxFileSize>50MB</maxFileSize>   
	    </triggeringPolicy>   
	    <!-- 
	    <encoder>   
	      	<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>   
	    </encoder>   
	     -->
	    <encoder>
            <pattern>%d [%t] %p %logger{0}-Line:%L - %m%n</pattern>
        </encoder>
	</appender> 
    <appender name="ErrorFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${log.path}/${log.name.error}.log</File>
        <!-- 
	    <encoder>   
	      	<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>   
	    </encoder>   
	     -->
	    <encoder>
            <pattern>%d [%t] %p %logger{0}-Line:%L - %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">   
            <fileNamePattern>${log.path}/${log.name.error}.%i.log</fileNamePattern>
            <minIndex>1</minIndex>   
	      	<maxIndex>100</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">   
	    	<maxFileSize>50MB</maxFileSize>   
	    </triggeringPolicy> 
    </appender>

    <!--<logger name="org.springframework" level="DEBUG"/>-->
    <!--<logger name="org.apache" level="DEBUG"/>-->
    <!--<logger name="org.mybatis.spring" level="DEBUG"/>-->

    <root level="INFO">
        <appender-ref ref="Console"/>
        <appender-ref ref="LogFile"/>
        <appender-ref ref="ErrorFile"/>
    </root>
</configuration>